In [156]:
import pandas as pd
import numpy as np
from IPython.display import display
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

In [157]:
# import warnings filter
from warnings import simplefilter
# ignore all future warnings
simplefilter(action='ignore', category=FutureWarning)

In [158]:
label_encoder = LabelEncoder()
def label_data(jobs):
    global label_encoder
    jobs = list(jobs)
    data = {}
    integer_encoded = label_encoder.fit_transform(jobs)

    for z in list(set(zip(jobs,integer_encoded))):
        job,code = z[0],z[1]
        data[job] = code

    return integer_encoded, data

def is_numerical(value):
    try:
        float(value)
    except:
        return False
    else:
        return True

In [160]:
df = pd.read_csv('term-deposit-marketing-2020.csv', sep=',')
df = df.dropna(axis="columns", how="any")
months = {'jan':1, 'feb':2, 'mar':3, 'apr':4, 'may':5, 'jun':6, 'jul':7, 'aug':8, 'sep':9, 'oct':10, 'nov':11, 'dec':12}

display(df.head())

   age           job  marital  education  ... month  duration campaign   y
0   58    management  married   tertiary  ...   may       261        1  no
1   44    technician   single  secondary  ...   may       151        1  no
2   33  entrepreneur  married  secondary  ...   may        76        1  no
3   47   blue-collar  married    unknown  ...   may        92        1  no
4   33       unknown   single    unknown  ...   may       198        1  no

[5 rows x 14 columns]

In [161]:
# Change all string type columns to numerical 
# Convert month and days columns to time
dictionary = {}
for key in df.keys():
    if key == "month":
        df[key] = [months[val] for val in df[key]]
    if not is_numerical(df[key][0]):
        df[key], dictionary[key] = label_data(list(df[key]))
df['time'] = df['month']*30 + df['day']
df = df.drop(columns=['day', 'month'])
display(df.head())

   age  job  marital  education  default  ...  contact  duration  campaign  y  time
0   58    4        1          2        0  ...        2       261         1  0   155
1   44    9        2          1        0  ...        2       151         1  0   155
2   33    2        1          1        0  ...        2        76         1  0   155
3   47    1        1          3        0  ...        2        92         1  0   155
4   33   11        2          3        0  ...        2       198         1  0   155

[5 rows x 13 columns]

In [162]:
df_partial = df[df['y'] == 1]
df_temp = df[df['y'] == 0]
df_partial = df_partial.append(df_temp[:len(df_partial)  ], ignore_index = True)
df_partial = df_partial.sample(frac=1, random_state=42)
train_y = np.array(list(df_partial['y']))
df_partial = df_partial.drop(columns=['y'])
train_x = df_partial.to_numpy()


abs_size = 500
abs_test_x = train_x[-abs_size:]
abs_test_y = train_y[-abs_size:]
train_x, train_y = train_x[:-abs_size], train_y[:-abs_size]
print("Train x shape: ",train_x.shape)
print("Train y shape: ",train_y.shape)
print("Test x shape: ",abs_test_x.shape)
print("Test y shape: ",abs_test_x.shape)

Train x shape:  (5292, 12)
Train y shape:  (5292,)
Test x shape:  (500, 12)
Test y shape:  (500, 12)

In [ ]:
from keras import models
from keras import layers

def build_model():
    # Because we will need to instantiate
    # the same model multiple times,
    # we use a function to construct it.
    model = models.Sequential()
    model.add(layers.Dense(64, activation='relu',
                           input_shape=(train_x.shape[1],)))
    model.add(layers.Dense(16, activation='relu'))
    model.add(layers.Dense(16, activation='relu'))
    model.add(layers.Dense(1, activation='sigmoid') )
    model.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics=['accuracy', 'mean_absolute_error'])
    return model

In [ ]:
from keras import backend as K
K.clear_session()
model = build_model()
model.fit(train_x, train_y, epochs=25, batch_size=1, verbose=1)

Epoch 1/25
5292/5292 [==============================] - 6s 1ms/step - loss: 2.3686 - accuracy: 0.7426 - mean_absolute_error: 0.2807
Epoch 2/25
5292/5292 [==============================] - 5s 911us/step - loss: 1.0823 - accuracy: 0.7714 - mean_absolute_error: 0.2609
Epoch 3/25
5292/5292 [==============================] - 5s 943us/step - loss: 0.9250 - accuracy: 0.8239 - mean_absolute_error: 0.2171
Epoch 4/25
5292/5292 [==============================] - 5s 899us/step - loss: 0.7001 - accuracy: 0.8707 - mean_absolute_error: 0.1599
Epoch 5/25
5292/5292 [==============================] - 5s 908us/step - loss: 0.6481 - accuracy: 0.8908 - mean_absolute_error: 0.1299
Epoch 6/25
5292/5292 [==============================] - 5s 929us/step - loss: 0.6519 - accuracy: 0.8930 - mean_absolute_error: 0.1206
Epoch 7/25
5292/5292 [==============================] - 5s 924us/step - loss: 0.6682 - accuracy: 0.8985 - mean_absolute_error: 0.1132
Epoch 8/25
5292/5292 [==============================] - 5s 928us/step - loss: 0.6816 - accuracy: 0.9059 - mean_absolute_error: 0.1085
Epoch 9/25
5292/5292 [==============================] - 5s 903us/step - loss: 0.5501 - accuracy: 0.9152 - mean_absolute_error: 0.0968
Epoch 10/25
5292/5292 [==============================] - 5s 890us/step - loss: 0.6373 - accuracy: 0.9108 - mean_absolute_error: 0.1019
Epoch 11/25
5292/5292 [==============================] - 5s 891us/step - loss: 0.6289 - accuracy: 0.9153 - mean_absolute_error: 0.1007
Epoch 12/25
5292/5292 [==============================] - 5s 915us/step - loss: 0.6555 - accuracy: 0.9044 - mean_absolute_error: 0.1073
Epoch 13/25
5292/5292 [==============================] - 5s 900us/step - loss: 0.5358 - accuracy: 0.9119 - mean_absolute_error: 0.1005
Epoch 14/25
5292/5292 [==============================] - 5s 907us/step - loss: 0.8287 - accuracy: 0.9155 - mean_absolute_error: 0.0970
Epoch 15/25
5292/5292 [==============================] - 5s 940us/step - loss: 0.6006 - accuracy: 0.9218 - mean_absolute_error: 0.0911
Epoch 16/25
5292/5292 [==============================] - 5s 918us/step - loss: 0.7029 - accuracy: 0.9244 - mean_absolute_error: 0.0924
Epoch 17/25
5292/5292 [==============================] - 5s 931us/step - loss: 0.6390 - accuracy: 0.9297 - mean_absolute_error: 0.0853
Epoch 18/25
5292/5292 [==============================] - 5s 907us/step - loss: 0.5979 - accuracy: 0.9295 - mean_absolute_error: 0.0872
Epoch 19/25
5292/5292 [==============================] - 5s 921us/step - loss: 0.5476 - accuracy: 0.9280 - mean_absolute_error: 0.0878
Epoch 20/25
5292/5292 [==============================] - 5s 895us/step - loss: 0.4641 - accuracy: 0.9289 - mean_absolute_error: 0.0846
Epoch 21/25
5292/5292 [==============================] - 5s 924us/step - loss: 0.5816 - accuracy: 0.9267 - mean_absolute_error: 0.0865
Epoch 22/25
5292/5292 [==============================] - 5s 894us/step - loss: 0.5711 - accuracy: 0.9254 - mean_absolute_error: 0.0865
Epoch 23/25
5292/5292 [==============================] - 5s 908us/step - loss: 0.6128 - accuracy: 0.9297 - mean_absolute_error: 0.0825
Epoch 24/25
5292/5292 [==============================] - 5s 942us/step - loss: 0.5758 - accuracy: 0.9267 - mean_absolute_error: 0.0870
Epoch 25/25
5292/5292 [==============================] - 5s 894us/step - loss: 0.4679 - accuracy: 0.9303 - mean_absolute_error: 0.0797

In [ ]:
keys = 'age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'duration', 'campaign', 'time'

result = {}
if True:
  for i,keyy in enumerate(keys):
    temp = abs_test_x.copy()
    ma = max(temp[:,i])
    temp[:,i] = [ma-elem for elem in temp[:,i]] 

    _, val_mae, _ = model.evaluate(temp, abs_test_y, verbose=0)
    print(f"Model score with opposite {keyy}: ", val_mae)
    result[keyy] = val_mae

Model score with opposite age:  0.9380000233650208
Model score with opposite job:  0.9359999895095825
Model score with opposite marital:  0.9359999895095825
Model score with opposite education:  0.9419999718666077
Model score with opposite default:  0.9440000057220459
Model score with opposite balance:  0.4659999907016754
Model score with opposite housing:  0.8640000224113464
Model score with opposite loan:  0.9480000138282776
Model score with opposite contact:  0.3840000033378601
Model score with opposite duration:  0.46399998664855957
Model score with opposite campaign:  0.7879999876022339
Model score with opposite time:  0.8820000290870667

In [ ]:
print('From Most Effective Features To Least Effective')
[elem[0] for elem in sorted(result.items(), key=lambda x: x[1])]

From Most Effective Features To Least Effective

['contact',
 'duration',
 'balance',
 'campaign',
 'housing',
 'time',
 'job',
 'marital',
 'age',
 'education',
 'default',
 'loan']